html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body {
	height: 100%;
}
a{
  text-decoration: none;
  display: inline-block; 
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
  &:focus{
  outline: none;
  } 
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
body{
  font-family: 'Roboto-Regular', sans-serif;
  color: $text;
  font-weight: 400;
  font-size: 15px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px){
  .container-fluid{
    padding: 0 15px;
  }
}
header{
  background: #fff;
}
.page-content{
  background:$grey;
}
.title{
  color:$bg;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  text-align: center;
}
.breadcrumbs{
  &__inner{
    padding: 45px 0 40px;
  }
  &__list{
    li{
      position: relative;
      padding-left: 24px;
      display: inline-block;
      & + li{
        &::before{
          content: '-';
          position: absolute;
          left: 8px;
          color:$green;
        }
      }
    }
    a{
      color: #b0bec5;
    }
    span{
      color:$bg;
    }
  }
}