
@media (max-width:1150px){
   .footer__inner{
     flex-wrap: wrap;
   }
   .footer__item-col-adress{
     min-width: 100%;
     margin-bottom: 30px;
   }
   .header__text{
     display: none;
   }
}

@media (max-width:900px){

  .footer__item-col-social{
    min-width: 100%;
    margin-top: 30px;
  }
  .footer__inner{
    justify-content: flex-start;
  }
  .footer__item-menu{
    & + &{
      margin-left: 40px;
    }
  }
}

@media (max-width:842px){
  .menu__list{
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 30px;
    background-color: $bg;
    text-align: center;
    a{
      padding: 10px 0;
      display: block;
      
    }
    li{
      display: block;
      padding-right: 0;
      border-bottom: 1px solid #fff;
      &:first-child{
        border-top: 1px solid #fff;
      } 
    }
  }
  .menu__btn{
    display: block;
    display: flex;
    align-items: center;
  }
  .basket__menu, 
  .message__menu, 
  .notification__menu {
    right: -16px;
  }
}

@media (max-width:640px){
  .notification__box,
  .message__box{
    display: none;
  }
  .basket__menu{
    right: auto;
  }

}

@media (max-width:540px){
  .footer__item-col{
    min-width: 100%;
  }
  .footer__item-menu{
    & + &{
      margin-left: 0;
      margin-top: 30px;
    }
    
  }
}

@media (max-width:520px){
  .menu__list{
    top: 70px;
  }
  .header__btn-menu{
    display: block;
    width: 70px;
    height: 70px;
    background-color: $bg;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 4;
    &::before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color:#fff;
    }
  }
  .header__box-btn{
    transition: all .5s;
    position: absolute;
    background-color: #fff;
    height: 70px;
    left: 100%;
    right: -100%;
    z-index: 3;
    &.active{
      left: 70px;
      right: 90px;
    }
  }
  .header__logo{
    margin-left: 60px;
  }
  .menu__btn{
    position: absolute;
    top: 20px;
    &-row{
      background-color: $bg;
      &::before,
      &::after{
        background-color: $bg;
      }
    }
  }
  .header__top{
    height: 70px;
  }
  .user__menu{
    top: 60px;
  }
  .basket__menu{
    top: 52px;
  }
}

@media (max-width:495px){
  .user__info{
    display: none;
  }
  .user__img{
    margin-right: 0;
  }
  .user__box{
    margin-top: 56px;
  }
  .user__menu{
    top: 52px;
  }
}

@media (max-width:360px){
  .user {
    margin-right: 8px;
    padding-right: 13px;
  }
  .basket__box{
    margin-left: 7px;
  }
  .header__logo {
    margin-left: 55px;
  }
  .basket__menu {
    left: -17px;
  }
  .basket{
    margin-right: 10px;
  }
}

@media (max-width:400px){
  .header__box-btn{
    &.active{
     left: 47px; 
    }
  }
  .basket__box{
    margin-right: 0;
  }
}


@media (min-width:842px){
  .menu__list{
    display: block !important;
  }
  .menu__btn{
    display: none !important;
  }
}
