@import 'fonts';
@import 'vars';
@import 'global';
 
// start header

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    color: $text;
    a{
        color: $text;
        span{
            color:$red;
        }
    }
}
.header__box-btn{
    a{
        color:#fff;
        font-size: 12px;
        padding:10px 5px;
        text-align: center;
        border-radius: 4px;
        width: 70px;
        &.basket{
            display: none;
        }
        &.login-btn{
            background-color: $green;
            margin-right: 7px;
        }
        &.register-btn{
            background-color: $red;
        }
    }
}
.header__menu{
    background-color:$bg;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    &-inner{
        min-height: 60px;
        display: flex;
        align-items: center;
    }
}
.menu__list{
    li{
        margin:10px 37px 10px 0;
    }
    a{
        color:#fff;
        font-size: 14px;
    }
}

// end header

// start search

.search{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 532px;
    &__inner{
        text-align: center;
        padding: 135px 0;
        font-family: 'Roboto-Medium', sans-serif;
        font-weight: 500;
        color: #fff;
        &-title{
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            margin-bottom: 25px;
            font-family: 'Roboto-Bold', sans-serif;
        }
        &-text{
            line-height: 30px;
            margin-bottom: 45px;
            font-size: 20px;
        }
        &-form{
            position: relative;
            text-align: center;
            margin: 0 auto;
            max-width: 670px;
            input{
                display: block;
                height: 56px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, .75);
                border: none;
                padding-left: 25px;
                padding-right: 65px;
                width: 100%;
                font-size: 14px;
                letter-spacing: 0.7px;
                &::placeholder{
                    color: #90a4ae;
                }
            }
            button{
                bottom:0;
                right: 0;
                border: none;
                position: absolute;
                background-color: transparent;
                cursor: pointer;
                width: 56px;
                height: 56px;
                &:focus{
                 outline: none;
                }
            }
        }
    }
}

// end header

// start products

.products{
  padding: 110px 0; 
  background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    button{
        font-size: 14px;
        color: $bg;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #ffffff;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        border-bottom: 1px solid#e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        margin-bottom: 11px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        font-weight: 700;
        font-family: 'Roboto-Bold', sans-serif;
        color: $bg;
    }
    &-info{
        min-height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        .author-photo{
            width: 30px;
            border-radius: 50%;
            height: 30px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
        }
    }
    &-star{
        span{
            color:$bg;
        }
    }
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
.products__bottom-btn{
    margin-top: 60px;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    button{
        font-size: 14px;
        color: $bg;
        padding: 12px 21px;
        border: none;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
    }
}

// end products
// start products-slider
.products-slider{
    padding: 120px 0;
    &__inner{
        text-align: center;
    }
}
.slick-dots{
    margin-top: 50px;
    li{
        width: 16px;
        height: 16px;
        margin-left: 3px;
        margin-right: 3px;
        &.slick-active{
            button{
                background-color: $green;
            }
        }
    }
    button{
        border:none;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        font-size: 0;
        background-color: #e8e8e8;
        outline: none;
    }
}

// enp products-slider


@import 'media';

