@import 'fonts';
@import 'vars';
@import 'global';
 
// start header

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    color: $text;
    a{
        color: $text;
        span{
            color:$red;
        }
    }
}
.header__box-btn{
    a{
        color:#fff;
        font-size: 12px;
        padding:10px 5px;
        text-align: center;
        border-radius: 4px;
        width: 70px;
        &.basket{
            display: none;
        }
        &.login-btn{
            background-color: $green;
            margin-right: 7px;
        }
        &.register-btn{
            background-color: $red;
        }
    }
}
.header__menu{
    background-color:$bg;
    @include f500;
    &-inner{
        min-height: 60px;
        display: flex;
        align-items: center;
    }
}
.menu__list{
    li{
        margin:10px 37px 10px 0;
        display: inline-block;
    }
    a{
        color:#fff;
        font-size: 14px;
    }
}

// end header

// start search

.search{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 532px;
    &__inner{
        text-align: center;
        padding: 135px 0;
        @include f500;
        color: #fff;
        &-title{
            @include f700;
            font-size: 48px;
            line-height: 62px;
            margin-bottom: 25px;
            
        }
        &-text{
            line-height: 30px;
            margin-bottom: 45px;
            font-size: 20px;
        }
        &-form{
            position: relative;
            text-align: center;
            margin: 0 auto;
            max-width: 670px;
            input{
                display: block;
                height: 56px;
                border-radius: 4px;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, .75);
                border: none;
                padding-left: 25px;
                padding-right: 65px;
                width: 100%;
                font-size: 14px;
                letter-spacing: 0.7px;
                &::placeholder{
                    color: #90a4ae;
                }
            }
            button{
                bottom:0;
                right: 0;
                border: none;
                position: absolute;
                background-color: transparent;
                cursor: pointer;
                width: 56px;
                height: 56px;
                &:focus{
                 outline: none;
                }
            }
        }
    }
}

// end header

// start products

.products{
  padding: 110px 0; 
  background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    @include f500;
    button{
        font-size: 14px;
        color: $bg;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #ffffff;
    @include f500;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        border-bottom: 1px solid#e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        margin-bottom: 11px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        min-height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        .author-photo{
            width: 30px;
            border-radius: 50%;
            height: 30px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
        }
    }
    &-star{
        span{
            color:$bg;
        }
    }
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
.products__bottom-btn{
    margin-top: 60px;
    text-align: center;
    @include f500;
    button{
        font-size: 14px;
        color: $bg;
        padding: 12px 21px;
        border: none;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
    }
}

// end products
// start products-slider
.products-slider{
    padding: 120px 0;
    &__inner{
        text-align: center;
    }
}
.slick-dots{
    margin-top: 50px;
    li{
        width: 16px;
        height: 16px;
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        &.slick-active{
            button{
                background-color: $green;
            }
        }
    }
    button{
        border:none;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        font-size: 0;
        background-color: #e8e8e8;
        outline: none;
    }
}

// end products-slider
// start advantages
.advantages{
    background-color: $bg;
    padding: 120px 0 110px;
    &__title{
        color:#fff;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}
.advantages__item{
    min-width: 330px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    &:hover{
        .advantages__item-img{
            background-color:$green;
            g{
                fill:#fff;
            }
        }
        .advantages__item-title{
            color:$green;
        }
    }
    &-img{
        background-color: #fff;
        width: 113px;
        height: 113px;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 33px;
        transition: all .3s;
    }
    &-title{
        font-size: 24px;
        @include f500;
        color:#fff;
        margin-bottom: 26px;
        transition: all .3s;
    }
    &-text{
        color: #b0bec5;
        line-height: 24px;
    }
}

// end advantages
// start author
.author{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 653px;
        width: 100%;
        min-height: 216px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $green;
        padding: 60px 55px;
        &-title{
            color: #fff;
            font-size: 30px;
            line-height: 36px;
            max-width: 270px;
            span{
                @include f700;
            }
        }
        &-link{
            color:$bg;
            font-size: 18px;
            line-height: 36px;
            background-color: #fff;
            padding: 13px 35px;
        }
    }
}

// end author
// start tutorial
.tutorial{
    padding: 70px 0 160px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
        &-img{
            height: 270px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
        }
        &-title{
            background-color: #f8f8f8;
            text-align: center;
            color: $bg;
            font-size: 24px;
            line-height: 60px;
            @include f700;
            padding: 20px 50px;
            display: block;
        }
    }
}

// end tutorial
// start footer
.footer{
    background-color: $bg;
    padding-top: 116px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__copy{
        color: #919699;
        line-height: 36px;
        border-top: 1px solid #424d53;
        margin-top: 100px;
        &-text{
            padding: 25px 0 30px;
            text-align: center;
        }
    }
}
.footer__item-col{
    max-width: 270px;
    width: 100%;
}
.footer__item-menu{
    max-width: 230px;
}
.footer__item{
    &-title{
        font-size: 22px;
        @include f700;
        line-height: 24px;
        color:#fff;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 30px;
        &::after{
            content: '';
            position: absolute;
            height: 3px;
            width: 51px;
            background-color: $green;
            bottom: 0;
            left: 0;
        }
    }
    &-text{
        color: #b7c3c8;
        line-height: 24px;
        margin-bottom: 36px;
    }
    &-address{
        color:#fff;
        line-height: 24px;
        font-size: 14px;
        padding-left: 28px;
        padding-right: 10px;
        margin-bottom: 27px;
        position: relative;
        &::before{
            content:'\f041';
            position: absolute;
            left: 0;
            font-size: 18px;
            color:$green;
            font-family: 'icomoon';
        }

    }
    &-phone{
        color:#fff;
        line-height: 24px;
        font-size: 14px;
        padding-left: 28px;
        padding-right: 10px;
        margin-bottom: 27px;
        position: relative;
        &::before{
            content:'\f095';
            position: absolute;
            left: 0;
            font-size: 18px;
            color:$green;
            font-family: 'icomoon';
        }
    }
}
.footer__menu-list{
    li{
        display: block;
        margin-bottom: 23px;
    }
    a{
        color: #b7c3c8;
        padding: 0 21px;
        position: relative;
        &::before{
            content:'\f105';
            position: absolute;
            left: 0;
            font-size: 18px;
            color:$green;
            font-family: 'icomoon';
        }
    }
}
.footer__item-social{
    margin-bottom: 40px;
    a{
        width: 28px;
        height: 28px;
        & + a{
            margin-left: 7px;
        }
        &.social__icon-facebook{
            background-position: -28px 0;
        }
        &.social__icon-twitter{
            background-position: 0 -28px;
        }
        &.social__icon-youtube{
            background-position: -28px -28px;
        }
        &.social__icon-pinterest{
            background-position: -56px 0;
        }
    }
}
.footer__form-title{
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 18px;
    color:#fff;
    }
.footer__item-form{
    form{
        position: relative;
    }
    input{
        max-width: 270px;
        width: 100%;
        min-height: 40px;
        background-color: #2f3c43;
        border: 1px solid #000000;
        color: #fff;
        padding-left: 16px;
        padding-right: 60px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 43px;
        height: 38px;
        background-color: $green;
        border: none;
        &::before{
            content:'\f124';
            position: absolute;
            font-size: 18px;
            color:#fff;
            font-family: 'icomoon';
            top: 11px;
            left: 13px;
        }
    }
}
// end footer

// start page new-items
.page-new__items{
    min-height: 230px;
    .search__inner{
        padding: 57px 0 63px;
    }
    .search__inner-text{
        margin-bottom: 24px;
    }
}
.page-products{
    &__inner{
        display: flex;
        padding-bottom: 110px;
    }
    &__aside{
        margin-right: 30px;
    }
}
.aside__item{
    background: #fff;
    padding: 0px 30px 26px;
    width: 270px;
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;
}
.aside__title{
    color:$bg;
    font-size: 20px;
    padding: 26px 0 19px;
    @include f700;
    border-bottom: 1px solid #dde3e8;
}
.categoty__list{
    padding: 18px 0 15px;
    li{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    a{
        padding-left: 18px;
        position: relative;
        color: $bg;
        &::before{
            content: '\f105';
            position: absolute;
            left: 0;
            font-size: 14px;
            color: #8bc34a;
            font-family: 'icomoon';
        }
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    border-radius: 50px;
    background-color: #fff;
    top:19px;
    i:first-child{
        display: none;
    }
}
.irs--flat .irs-line{
    height: 5px;
    background-color: #f2f5f8;
}
.irs--flat .irs-bar{
    height: 5px;
    background-color: $bg;
}
.irs--flat .irs-max, 
.irs--flat .irs-min {
    display: none;
}
.irs-from, .irs-single, .irs-to{
    top:45px;
}
.irs--flat .irs-from, 
.irs--flat .irs-single, 
.irs--flat .irs-to{
    background-color: transparent;
    color: #78909c;
    font-size: 15px;
    @include f400;
    padding: 0;
    &::before{
        display: none;
    }
}
.price-range{
    form{
        padding-top: 10px;
        button{
            margin-top: 40px;
            width: 100%;
            background-color: $green;
            border:none;
            color:#fff;
            cursor: pointer;
            @include f500;
            padding: 15px 10px 16px;
            span{
                padding-left: 24px;
                position: relative;
                &::before{
                    content: "\f002";
                    font-size: 15px;
                    color:#fff;
                    position: absolute;
                    left: 0;
                    font-family: 'icomoon';
                }
            }

        }
    }
}
.aside-product__item{
    .product__item{
        margin-top: 26px;
        box-shadow: none;
        border-bottom: 1px solid #dde3e8;
        &-img{
          min-height: 121px;  
        }
        &-content{
            padding-left:0;
            padding-right: 0;
            border-bottom: none;
        }
        &-title{
            @include f700;
        }
        &-price{
            font-size: 16px;
        }
        &-info{
            padding: 0;
            min-height:30px;
            padding-bottom: 25px;
        }
        .rate-star{
            margin-right: 0;
            padding-right: 0;
            padding-left: 10px;
        }
        &:last-child{
            border-bottom: transparent;
        }
    }
}
.top-sellers__link{
    display:block;
    width: 100%;
    background-color: $green;
    color:#fff;
    cursor: pointer;
    padding: 15px 10px 16px;
    text-align: center;

}
.page-products__content{
    width: 100%;
}
.page-products__filter{
    height: 60px;
    border: 1px solid #dde3e8;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    font-size: 14px;
    .page-products__filter-sort{
        display: flex;
        align-items: center;
    }
    button{
        cursor: pointer;
        background-color: transparent;
        border:none;
        color: #90a4ae;
    }
    .icon-th-large,
    .icon-th-list{
        font-size: 16px;
    }
    .icon-unsorted{
        font-size: 18px;
        margin-left: 10px;
    }
    .icon-sort-amount-desc{
        margin-right: 10px;
    }
    .active{
        color:$green;
    }
}
.page-products__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product__item{
        width: 269px;
        &-img{
            min-height: 180px;
        }
        &-content{
            padding: 10px 20px;
        }
        &-title{
            font-size: 16px;
        }
        &-info{
            padding: 10px 20px;
            min-height: 65px;
        }
        .rate-star{
            margin-right: 3px;
            padding-left: 10px;
            
        }
        .jq-ry-container{
            padding: 0;
        }
    }
}
.pagination{
    margin-top: 30px;
    &__list{
        li{
            display: inline-block;  
        }
        a{
            width: 43px;
            height: 38px;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
            color:$bg;
        } 
        .active{    
            background-color: $red;
            color:#fff;
        }  
    }
}

// end page new-items


@import 'media';

